# Node
node_modules/

# PHP / Composer
/vendor/

# Environment variables
.env

# IDE
.idea/

# OS junk
.DS_Store
Thumbs.db

# Cache / temp
tmp/
.phpunit.result.cache

# Logs
*.log

# Swap files
.*.swp
